.main-left{
  display: none;
  // @include mq(md){
  //   display: block;
  //   position: sticky;
  //   width: 200px;
  //   top: 0;
  //   max-height: 100vh;
  //   padding:0px 10px 10px 10px;
  //   background-color: #1380e6;
  // }
  // background-color: aliceblue;
  color: #1a252f;
  background-color: #f6f6f9;
  @include mq(md){
  display: block;
  position: sticky;
  width: 200px;
  top: 0;
  max-height: 100vh;
  // padding:0px 10px 10px 10px;
  // background-color: #1a252f;
  }

    .main-contents__box{
      // margin: 10px;
      // box-shadow: $merupla-box-shadow-1;
      gap: 10px;
      overflow: hidden;
      padding-top: 10px;
      background-color: #f6f6f9;
      color: $merupla-color-dark-1;
      // // margin-left: 20px;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto 1fr;
      // display: flex;
      // flex-flow: column;
      // height: 100%;
      .category__lists li{
        color: $merupla-color-info-dark-1;
        list-style: none;
        transition: all 0.1s;
          cursor: pointer;
          &:hover{
            background-color: #edf1f5;
            color: $merupla-color-dark-1;
            border-left:3px solid #38b7ff;
          }

        a{
          // color: $color-v3-c;
          // border-bottom: solid 1px #f2f2f2;
          padding: 10px;
          display: block;
          text-decoration: none;
          span{
            margin-left: 10px;
          }
          // &:hover{
          //   background-color: $color-v1-a;
          //   color: #ffffff;
          // }
        }
      }
    }

    .main-contents__box__left{
      margin: 0px 20px 0px 20px;
      // padding-bottom: 10px;
      // margin: 10px;
      box-shadow: $merupla-box-shadow-1;
      overflow: scroll;
      // overflow: scroll;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      // overflow-x: hidden; 
      padding: 10px;
      background-color: white;
      border-radius: 30px;

      .category__lists li{
        list-style: none;

        a{
          // color: $color-v3-c;
          // border-bottom: solid 1px #f2f2f2;
          padding: 10px;
          display: block;
          text-decoration: none;
          span{
            margin-left: 10px;
          }
          // &:hover{
          //   background-color: $color-v1-a;
          //   color: #ffffff;
          // }

        }
      }
      -ms-overflow-style: none; 
      scrollbar-width: none; 
      &::-webkit-scrollbar{
        display: none;
      }
    }
    
    // .container::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    //     display:none;
    // }

    .category__title{
      font-size: 1.5rem;
      // padding: 0px 10px 10px 10px;
      font-weight: bold;
      // color: #5c728a;
      h3{
        display: flex;
        font-size: 1.0rem;
        // justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;
      }
    }


}
// animation

.addFormatsList{
  // margin-bottom: 10px;
  transition:  1s;
  max-height: 88px;
  // opacity: 1;
  display: block;
  // height: auto;
  // max-height: 150px;
  // max-height: 150px;
  // transform: translateY(0%);
  overflow: hidden;
  // color: aqua;
  // display: none;
}
.removeFormatsList{
  max-height: 0px;
  overflow: hidden;
  transition:  1s;
  // opacity: 0;
  // height: 0;
  // transform: translateY(-100%);
  // display: none;
}

.addTitleOnTime{
  transform: rotateZ(
    180deg
    );
  transition: 1s;
}
.leftDownArrow{
  // cursor: pointer;
  transition: 1s;
  margin: 0 0 0 auto;
}

// genres
.addGenresList{
  overflow-y: scroll;
  // overflow: scroll;
  transition:  1s;
  max-height: 50vh;
  // opacity: 1;
  display: block;
  // height: auto;
  // max-height: 1000px;
  // transform: translateY(0%);
  // overflow: hidden;
  // color: aqua;
  // display: none;
}
.removeGenresList{
  max-height: 0px;
  overflow: hidden;
  transition:  1s;
  // opacity: 0;
  // height: 0;
  // transform: translateY(-100%);
  // display: none;
}
// articles

.addArticlesList{
  // overflow: scroll;
  transition:  1s;
  max-height: 100px;
  display: block;
}
.removeArticlesList{
  max-height: 0px;
  overflow: hidden;
  transition:  1s;
}

.LeftFormatsList{
  padding: 10px;
  display: block;
  text-decoration: none;
  transition: all 0.1s;
  cursor: pointer;
  &:hover{
    background-color: #edf1f5;
    color: #1a252f;
    // border-left: #38b7ff;
  }
}