svg{
  font-size: 1.3rem;
}
.nomalNavi{
  svg{
    font-size: 1.5rem;
    @include mq(tb){
      font-size: 1.2rem;
    }
  }
  a {
    display: inline-block;
    transition: .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  a:hover {
    @include mq(md){
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}
.HeaderV1{
  // height: 59.66px;
  @include mq(md){
  display: grid;
  grid-template-columns: 200px 1fr;
  }
}
.header{
  // top: 0;
  // position: sticky;
  // z-index: 200;
  // top: 0;
  // position: sticky;
  // z-index: 200;
  

}
.activeScroll{
  @include mq(tb){
    transform: translateY(-100px);
    -webkit-transform:translateY(-100px);
  }
  // transform: translateY(-100px);
  // -webkit-transform:translateY(-100px);
}

.HeaderGrid0{
  // background-color:$color-v1-g0;
  background-color:$color-v1-h0;
}
.HeaderGrid1{
  // background-color:$color-v1-g1;
  background-color:$color-v1-h1;
}
.HeaderGrid2{
  // background-color:$color-v1-g2;
  background-color:$color-v1-h2;
}
.HeaderGrid3{
  // background-color:$color-v1-g3;
  background-color:$color-v1-h3;
}
.HeaderGrid4{
  // background-color:$color-v1-g4;
  background-color:$color-v1-h4;
}
.HeaderGrid5{
  // background-color:$color-v1-g5;
  background-color:$color-v1-h5;
}
.HeaderGrid6{
  // background-color:$color-v1-g10;
  background-color:$color-v1-h10;
}
.HeaderGrid7{
  // background-color:$color-v1-g7;
  background-color:$color-v1-h7;
}
.HeaderGrid8{
  // background-color:$color-v1-g8;
  background-color:$color-v1-h8;
}
.HeaderGrid9{
  // background-color:$color-v1-g9;
  background-color:$color-v1-h9;
}

.HeaderGrid12{
  // background-color: white;
  background-color: #1a252f;
}

.HeaderGrid11{
  // background-color: $color-v1-d;
  background-color: #1a252f;
}

// $color-v1-g0:#f7f48a;
// $color-v1-g1:#99f9c8;
// $color-v1-g2:#f7c280;
// $color-v1-g3:#ff9292;
// $color-v1-g4:#f5b7ed;
// $color-v1-g5:#f0aaf9;
// $color-v1-g6:#9bc0f7;
// $color-v1-g7:#ccf9b0;
// $color-v1-g8:#b5b8ff;
// $color-v1-g9:#bdffb5;
// $color-v1-g10:#ff9eb9;

.LOGO{

  display: flex;
  width: fit-content;
  position: relative;
  justify-content: center;
  align-items: center;
  .LogoG{
    // font-size: 1.8rem;
    // color: #ff3073;
    z-index: 100;
    -webkit-text-stroke: 1px #000;
  }
  .LogoF{
    // font-size: 1.8rem;
    color: white;
    /* position: absolute; */
    top: 0;
    right: px;
    z-index: 10;
    position: relative;
    -webkit-text-stroke: 1px #000;
  }
  .LogoHeart{
    position: relative;
    right: 20px;
    /* background-color: aqua; */
    z-index: 9;
    color: aqua;
    svg{
      width: 30px;
      height: 30px;
      background-color: transparent;
      color: #ff3073;
      /* position: absolute; */
      top: 0;
      color: white;
      color: #ff3073;
    }
  }
  img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
  }
}
.HeaderMain{
  display: none;
  @include mq(md){
  display: flex;
  // justify-content: center;
  align-items: center;
  background-color: #f6f6f9;
  // background-color: #1a252f;
  }
}
.HeaderMainLeft{
  background: #f6f6f9;
  padding: 10px 20px 10px 20px;
  .HeaderMainLeftTitle{
    // margin-right: -20px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  // background-color: #1b548f;
}
.HeaderNavi{
  position: relative;
  // background-color: #edf1f5;
  // background-color: #ffffff;
  // font-size: 0.9rem;
  ul{
    // background-color: #edf1f5;
    padding-top:10px;
    padding-bottom:10px;
    max-width: 1500px;
    background-color: #f6f6f9;
    transition: transform 1s,background-color 1s;
    position: fixed;
    height: 59.66px;
    z-index: 300;
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
    justify-content: flex-end;
    @include mq(tb){
      justify-content: center;
    }
    @include mq(md){
      font-size: 1.0rem;
      // background-color: #ffffff;
      background-color: #f6f6f9;
      width: calc(100% - 200px);
    }

    li{
      // color: white;
      // background-color: #167eff;
      // background-color: #1a252f;
      // padding: 5px 15px 5px 15px;
      // border: 1px solid grey;
      border-radius: 30px;
      // box-shadow: $color-v1-shadow-a;
      display: none;
      @include mq(tb){
        display: block;
      }

     
    }
    .headerUserSighIn{
      color: $color-v1-d;
      // -webkit-text-stroke: 1px $merupla-color-dark-1;
      // color: $merupla-color-white-1;
      padding: 0px;
      .user_box_false{
        .user_mypage{
          line-height: 1.2;
        display: flex;
        gap: 5px;
        align-items: center;
        padding: 5px 10px 5px 10px;
        cursor: pointer;
        }
        .user_mypage {
          // display: inline-block;
          transition: .3s;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        .user_mypage:hover {
          @include mq(tb){
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }
        }
        .userNavigationDummy{
          position: relative;
          .userNavigationDummyAbusolute{
            font-size: 0.8rem;
            // doneyet 確認 文字の長さではみ出る問題
            overflow-x: hidden;
            max-width: 200%;
            position: absolute;
            min-width: 100%;
            background-color: #1a252f;;
            top: 20px;
            padding: 5px;
            border-radius: 5px;
            display: flex;
            gap: 5px;
            flex-flow: column;
            .UserNavigateDummyAbusoluteTop{
              border-bottom: 1px solid;
              display: flex;
              gap: 10px;
              align-items: center;
              padding: 5px;
     
              .UserNavigateDummyAbusoluteTopImg{
                display: flex;
                justify-content: center;
                img{
                  // display: flex;
                  // justify-content: center;
                  width: 30px;
                  border-radius: 30px;
                  height: 30px;
                }
              }
              .UserNavigateDummyAbusoluteTopName{
                font-size: 0.9rem;
                text-align: center;
                margin-top: 10px;
                padding-bottom: 5px;
                // border-bottom: 1px solid;
              }
            }
            
            .user_logout{
              padding: 5px 15px 5px 15px;
              box-shadow: $color-v1-shadow-a;
              display: flex;
              align-items: center;
              gap: 5px;
              padding: 5px;
              &:hover{
                @include mq(md){
                  cursor: pointer;
                  color: #ff3073;
                }
              }
            }
          }
        }
      }
      .user_box_true{
        @include mq(tb){
          padding: 5px 10px 5px 10px;
        }
        .user_sign_in{
          .model_btn{
          display: flex;
          gap: 5px;
          align-items: center;
          }
          // padding: 5px;
        }
      }
    }
  }
}

// userSettingModal

.settingModalOpenClass{
  border-radius: 30px;
  max-width: 700px;
  background-color: white;
  border-radius: 5px;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: calc(100% - 40px);
  .settingModalOpenClassTitle{
    font-size: 1.5rem;
  }
  .settingModalOpenClassMain{
    .settingModalOpenClassNickname{
      margin-top: 10px;
      width: 100%;
    }
    .settingModalOpenClassImage{
      font-size: 1.2rem;
      margin-top: 10px;
    }
    .settingModalOpenClassImageExplain{
      color: #4c5966;
      margin: 10px 10px;
      font-size: 0.9rem;
      a{
        color: #1a76d2;
      }
    }
  }
}

// sub
.subMenu{
  cursor: pointer;
  padding: 16px;
  position: relative;
  display: block!important;
  margin-right: 20px;
  border: 1.5px solid $merupla-color-dark-1;
  color: white;
  background-color: $merupla-color-dark-1;
  @include mq(md){
    margin-right:0px
  }
  svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .subMenuList{
    color:$merupla-color-dark-1;
    -ms-overflow-style: none;
    scrollbar-width: none;
    // color: #f6f6f9;
    right: 0px;
    top: 32px;
    // width: fit-content;
    margin-top: 25px;
    // padding: 10px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    font-size: 0.8rem;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    // background-color: #1a252fd6;
    background-color: white;
    padding: 10px;
    overflow: scroll;
    @include mq(tb){
      // overflow: ;
          width: 200px;
      box-shadow: $merupla-tab-shadow-1;
      // background-color: #1a252f;
      position: absolute;
      height:fit-content;
      padding: 10px;
      // width: fit-content;
      
    }
    div{
      div{
        cursor: pointer;
        padding: 5px;
        white-space: nowrap;
        &:hover{
          @include mq(md){
            background-color: #edf1f5;
            color: $merupla-color-dark-1;
            border-left:3px solid #38b7ff; 
          }
        }
        a{
          display: block;
        }
      }
    }
  }
  .subMenuList::-webkit-scrollbar{
    display: none;
  }
  .subMenuList768{
    .subMenuList7689{
      border-bottom: 1px solid;
    }
    position: fixed;
    top: 0;
    z-index: -1;
    padding: 59px 0px 0px 0px;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    right: 0px;
    // top: 32px;
    // margin-top: 25px;
    border-radius: 5px;
    // display: flex;
    // gap: 10px;
    font-size: 0.8rem;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    // position: fixed;
    background-color: #f6f6f9;
    color: $merupla-color-info-dark-1;
    // d6
    // padding: 10px;
    font-size: 1.0rem;
    overflow: scroll;

    // height: calc(90vh - 56.8px);
    line-height: 2.0rem;
    .headersub768{
      display: flex;
      // box-shadow:$merupla-box-shadow-1;
    }
    div{
      div{
        // box-shadow:$merupla-box-shadow-1;
        padding:5px;
        cursor: pointer;
        // box-shadow:$merupla-box-shadow-1;
        // padding: 3px;
        // white-space: nowrap;
        &:hover{
          @include mq(md){
            color: #ff3073;
          }
        }
      }
    }
    .headersub768{
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .home2{
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}
.HederV1SubmenuSub{
  display: flex;
  word-break: keep-all;
  flex-flow: wrap;
  font-size: 0.8rem;
  gap: 10px;
  // margin: 20px 10px;
  // border-top: 1px solid;
  // padding-top: 10px;
  div{

  }
}
.subMenuList7681{
  margin: 0px 20px;
  font-size: 1.4rem;
  text-align: right;
}

.home2{
  svg{
    position: static;
    transform: none;
  }
}
.SettingModalSmartFon{
  // margin-top: 56.8px;
  // background-color: #1a252f;
}

.user_menu_2{
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  &:hover{
    @include mq(md){
      color: #ff3073;
    }
  }
}

.HeaderNavi{
  .HeaderMainLeftTitle{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 59.8px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    @include mq(tb){
      display: none;
    }
  }
}

// 
.HederV1SubmenuSub{
  div{
    padding: 0px!important;
  }
  .LeftFormatsList{
    display: block!important;
    padding: 0px;
  }
  li{
    display: block!important;
    padding: 0px;
  }
}

.user_sign_in{
  svg{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: solid 1px #ff3073;
    background-color: #ff3073;
    color: white;
    @include mq(tb){
      width: auto;
      height: auto;
      margin-right: 5px;
      border: none;
      background-color: transparent;
      color: #ff3073;
    }
  }
}