$color-1:rgb(0, 127, 192);
$color-2:rgb(253, 79, 253);
$color-3:#f2f2f2;
$color-4:#5c728a;
$color-5:#fff;


// body{
//   font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// }

//color
$color-6:rgb(92,114,138);
$color-7:rgb(122,134,158);
$color-8:rgb(20, 200, 200);
$color-9:rgb(129, 238, 238);
$color-10: #3399cc;


// v1
$color-v1-1:#5c728a;
$color-v1-2: #3399cc;

$color-v1-a:#1a252f;
$color-v1-ag:#2f4862;
// #1a252f
// $color-v1-a:#132f4c;


$color-v2-b:#ff3073;
$color-v3-c:#3f00ff;
$color-v1-d:#ff3073;

$color-v1-e:#99f9c8;
$color-v1-f:#f7c280;

$color-v1-g0:#f7f48a;
$color-v1-g1:#99f9c8;
$color-v1-g2:#f7c280;
$color-v1-g3:#ff9292;
$color-v1-g4:#f5b7ed;
$color-v1-g5:#f0aaf9;
$color-v1-g6:#9bc0f7;
$color-v1-g7:#ccf9b0;
$color-v1-g8:#b5b8ff;
$color-v1-g9:#bdffb5;
$color-v1-g10:#ff9eb9;

$color-v1-h0:#ffd000;
$color-v1-h1:#00c40a;
$color-v1-h2:#ff8c00;
$color-v1-h3:#ff0000;
$color-v1-h4:#fb00db;
$color-v1-h5:#e100ff;
$color-v1-h6:#0066ff;
$color-v1-h7:#00cc7e;
$color-v1-h8:#0008ff;
$color-v1-h9:#16db00;
$color-v1-h10:#ff0048;


$color-v1-g00:#5e5c05;
$color-v1-g01:#10683b;;
$color-v1-g02:#93570d;
$color-v1-g03:#bb1b1b;
$color-v1-g04:#ce0fe7;
$color-v1-g05:#5e0075;;
$color-v1-g06:#4718d7;
$color-v1-g07:#47cf8a;
$color-v1-g08:#150764;
$color-v1-g09:#837f13;
$color-v1-g10:#ff9eb9;



// $color-v1-g0b:boxShadow: 0px -6px 5px -5px #f7f48a inset,0px 8px 4px -8px #f7f48a;
// $color-v1-g1b:boxShadow: "0px -6px 5px -5px #92FCFC inset,0px 8px 4px -8px #92FCFC"#99f9c8;
// $color-v1-g2b:boxShadow: "0px -6px 5px -5px #92FCFC inset,0px 8px 4px -8px #92FCFC"#f7c280;
// $color-v1-g3b:boxShadow: "0px -6px 5px -5px #92FCFC inset,0px 8px 4px -8px #92FCFC"#ff9292;
// $color-v1-g4b:boxShadow: "0px -6px 5px -5px #92FCFC inset,0px 8px 4px -8px #92FCFC"#f5b7ed;
// $color-v1-g5b:boxShadow: "0px -6px 5px -5px #92FCFC inset,0px 8px 4px -8px #92FCFC"#f0aaf9;
// $color-v1-g6b:boxShadow: "0px -6px 5px -5px #92FCFC inset,0px 8px 4px -8px #92FCFC"#9bc0f7;
// $color-v1-g7b:boxShadow: "0px -6px 5px -5px #92FCFC inset,0px 8px 4px -8px #92FCFC"#ccf9b0;
// $color-v1-g8b:boxShadow: "0px -6px 5px -5px #92FCFC inset,0px 8px 4px -8px #92FCFC"#b5b8ff;
// $color-v1-g9b:boxShadow: "0px -6px 5px -5px #92FCFC inset,0px 8px 4px -8px #92FCFC"#bdffb5;
// $color-v1-g10b:boxShadow: "0px -6px 5px -5px #92FCFC inset,0px 8px 4px -8px #92FCFC"#ff9eb9;



   
$color-v1-shadow:0px 3px 1px -2px rgba(0,0, 0,0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
$color-v1-shadow2:0px 1px 3px 0px rgba(0, 0, 0, .1), 
0px 3px 15px 0px rgba(0, 0, 0, .08), 
0px 5px 28px 0px rgba(0, 0, 0, .06);
$color-v1-shadow-a:1px 2px 4px 1px rgba(0, 0, 0, 0.2);
$color-v1-shadow-b:4px 0px 4px 0px rgba(0,0,0,0.2);

$color-v1-shadow-c:2px 4px 10px 3px rgba(0, 0, 0,0.15) ;

$color-v1-shadow-d: 1px 2px 4px 1px rgba(0, 0, 0,0.05);
$color-v1-shadow-hover-a :4px 5px 10px 0px rgba(0, 0, 0, 0.1);

$color-v1-shadow-a2 : 1px 2px 10px 0px rgb(26 37 47);
// box-shadow: 1px 1px 4px 1px rgb(26 37 47);


// v2 meruplanet
$merupla-color-white-1:#fff;
$merupla-color-dark-1:#363949;

// $merupla-color-info-dark-1:#7d8da1;
$merupla-color-info-dark-1:#56677e;

$color-backgroundv2:#f6f6f9;

$box-shadow: 0rem 2rem 3rem rgb(132 139 200 / 18%);



// shadow
$merupla-box-shadow-1:0rem 2rem 3rem rgb(132 139 200 / 18%);
