.footer{
  display: grid;
  background-color: #1a252f;
  color: #fff;
  // grid-template-columns: 1fr;
  // grid-column-gap: 20px;
  padding: 40px 20px;
  gap: 20px;

  .footer__left{
    display: flex;
    justify-content: center;
    align-items: center;
    ul{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      // display: flex;
      // align-items: center;
      flex-flow: wrap;
      white-space: nowrap;
      justify-content: center;
      // display: grid;
      // display: grid;
      // grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      grid-gap: 10px;

      li{
        // box-shadow: $color-v1-shadow-a;
        cursor: pointer;
        padding: 5px 15px;
        border-radius: 30px;
        &:hover{
          @include mq(md){
          // text-decoration: underline;
          color: #20c791;
          }
          // background-color: aliceblue;

        }
      }
      // margin: 20px 20px;
    }
  }
}