.score_modal{
  // position: fixed;
  // width: 400px;
  // height: auto;
  // top: 50%;
  // padding: 20px;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // background-color: aliceblue;
  // border-radius: 10px;
  // outline: none;
  position: fixed;
  overflow-y: scroll;
  height: 100%;
  // min-width: 300px;
  // max-width: 750px;
  // width: 50%;
  // height: 80%;
  display: flex;
  align-items: center;
  // overflow-y: scroll;
  top: 50%;
  padding: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f6f9f6;
  border-radius: 10px;
  outline: none;
/*IE(Internet Explorer)・Microsoft Edgeへの対応*/
-ms-overflow-style: none;
/*Firefoxへの対応*/
scrollbar-width: none;

.user_social_login{
  gap: 0px!important;
  width: 100%;
}
}

/*Google Chrome、Safariへの対応*/
.score_modal::-webkit-scrollbar{
display: none;
}