
body:lang(ja) {
    font-family: 'Noto Sans JP', sans-serif;
  }

  // body{
  //   font-family: 'Noto Sans JP', sans-serif;
  // }
  
  body:lang(en) {
    font-family: 'Roboto', sans-serif;
  }
body{
  background-color: #f6f6f9;
  // font-family: 'Noto Sans JP', sans-serif;
  #__next{
    max-width: 1500px;
    margin: 0 auto;
  }
  // font-family: Helvetica, Arial, sans-serif !important;
  color: $merupla-color-dark-1;
  font-size: 16px;
  margin: 0px;
  line-height: 1.5;
  background-color: $color-backgroundv2;
  .super{
    // doneyet(check)
    min-height: 100vh;
    // background-color: #edf1f5;
    position: relative;
    display: grid;
    grid-template-columns: 200px calc(100% - 200px);
    .super-sheet{
      background-color: #f6f6f9;
      width: 100%;
      grid-column: 1/3;
      // margin-top: 59.66px;
      @include mq(md){
        margin-top:0px;
        grid-column: 2/3
      }
    }
    .super-sheet2{
      margin-top: 59.66px;
      @include mq(md){
        margin-top:0px;
        // grid-column: 2/3
      }
    }
  }
  // body:lang(ja) {
  //   font-family: 'Noto Sans JP', sans-serif;
  // }

  // body{
  //   font-family: 'Noto Sans JP', sans-serif;
  // }
  
  // body:lang(en) {
  //   font-family: 'Roboto', sans-serif;
  // }
  // font-family: 'Noto Sans JP', sans-serif;
// font-family: 'Roboto', sans-serif;


  // .products_header{

    // .products_contents{

      .products_contents_list{
        // display: grid;
        // cursor: pointer;
        // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        // grid-gap: 10px;
        // margin: 20px;
        .products_infinitescroll{
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
          grid-gap: 10px;
          padding: 20px;
          // margin: 20px;
          @include mq(tb){
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
          }
        }
        .products_infinitescroll02{
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
          grid-gap: 10px;
          padding: 20px;
          @include mq(tb){
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
          }
          // margin: 20px;
        }
        // .products_infinitescroll{
        //   display: grid;
        //   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        //   grid-gap: 10px;
        //   // margin: 20px;
        // }
        .p_contents_grid{
            cursor: pointer;
          // background-color: $color-v1-a;

          // a{
            
          //   text-decoration: none;

            .p_contents_grid_list{
              box-shadow: $color-v1-shadow-c;
              position: relative;
              padding-top: 56.25%;
              width: 100%;
              top: 0;
              border-radius: 5px;
              img{
                border-radius: 5px;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                object-fit: cover;
              }
            }
            .p_contents_grid_title{
              margin-bottom: 10px;
              margin-top: 10px;
              padding: 5px;
              font-weight: bold;
              // background-color: #ffffff;
              // border: 1px solid;
              // border-radius: 5px;
              // box-shadow: $color-v1-shadow-a;

            }
          // }

        }

      }
    // }
  // }
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
}

 /*Google Chrome、Safariへの対応*/
body::-webkit-scrollbar{
  display: none;
}

.p_contents_grid_hover_contents_arasuzi{
  margin: 10px;
  font-size: 0.9rem;
  line-height: 1.2rem;
  .ql-editor{
    padding: 0px!important;
  }
  p{
    font-size: 0.8rem;
  }
}
.p_contents_grid_hover_contents_arasuzi_Title{
  margin: 10px;
  font-size: 0.8rem;
}

// 02
.Grid02ProductScore{
  position: absolute;
  top: 0;
  right: 0;
  /* margin: 10px; */
  color: white;
  font-size: 0.9rem;
  padding: 5px;
  border-radius: 0px 5px;
}

.Grid02ProductSubplot{
  font-size: 0.7rem !important;
}
.GridProduct02Arasuzi{
  overflow-y: scroll;
  // overflow: hidden;
  position: relative;
  padding-top: 56.25%;
  margin-bottom: 10px;
    .WorldClassContainerViewsRightDummy{
      // color: white;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      padding: 10px;
    }
    .WorldClassContainerViewsRightSubplot{
      // color: #c3c3c3;
      display: flex;
      // justify-content: space-between;
      gap: 10px;
      margin-bottom: 10px;
      font-size: 0.8rem;
      .WorldClassContainerViewsRightSubplot1{
        // margin-bottom: 10px;
      }
      .WorldClassContainerViewsRightSubplot1{
        // margin-bottom: 10px;
      }
    }
    .WorldClassContainerViewsRightShow{
      margin-bottom: 10px;
      // font-size: 0.8rem;
      color: #37d8b3;
    }
    .WorldClassContainerViewsRightTitle{
      font-size: 1.0rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .WorldClassContainerViewsRightArasuzi{
      font-size: 0.9rem;
      margin-bottom: 10px;
      line-height: 1.3rem;
      overflow-y: scroll;
    /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
}

 /*Google Chrome、Safariへの対応*/
 .WorldClassContainerViewsRightArasuzi::-webkit-scrollbar{
  display: none;
}
    .WorldClassContainerViewsRightLink{
      padding: 10px;
      margin-bottom: 10px;
      background-color: #37d8b3;
      border-radius: 5px;
    }
    .WorldClassContainerViewsRightNetflix{
      padding: 10px;
      margin-bottom: 10px;
      background-color: #37d8b3;
      border-radius: 5px;
    }
  

}
.GridProduct02ArasuziHover{
  overflow: scroll;
}

.GridProduct02Views{
  position: relative;
}

.p_contents_grid_hover_contents_genres02{
  font-size: 0.7rem;
  list-style: none;
  display: flex;
  white-space: nowrap;
  flex-flow: wrap;
  gap: 10px;
  padding: 10px 0px 0px  0px;
  margin: 10px;
  border-top: 1px solid;
  ul{
    display: flex;
    gap: 5px;
    flex-flow: wrap;
    // height: 12.88px;
    overflow: hidden;
    
  }
}
// 03
.products_infinitescroll03{
  display: grid;
  // grid-gap: 10px;

}
// 04
.Grid04ProductScore{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px 0px 5px 0px;
  padding: 5px;
  color: white;
}

// 
.WorldClassContainer{
  margin: 20px;
}

.productShowOpenArasuzi{
  max-height: 110px;
  overflow: hidden;
}
.activeOpenArasuzi{
  max-height: fit-content!important;
  overflow:visible!important;
}
.hoverReadMore{
  cursor: pointer;
  color: #37d8b3;
  &:hover{
    color: #ff3073;
  }
}