// .gridproductimage-enter {
//   opacity: 0;
//   transform: scale(0.1);
//   // background-color: aqua;
// }
// .gridproductimage-active {
//   opacity: 1;
//   transform: translateX(0);
//   transition: opacity 300ms, transform 300ms;
//   // background-color: aqua;
  
// }
// .gridproductimage-exit {
//   opacity: 1;
// }
// .gridproductimage-active {
//   opacity: 0;
//   transform: scale(0.9);
//   transition: opacity 300ms, transform 300ms;
// }



.my-node-enter {
  opacity: 0;
  transform: scale(0.8);
}
.my-node-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 120ms;
  // background-color: aquamarine;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  z-index: -10;
  // transform: scale(0.9);
  // transition: opacity 1000ms, transform 100ms;
}