.show_top_contens{
  // margin: 0 calc(50% - 50vw);
  // width: 100vw;
  position: relative;
  .show_top_dummy{
    opacity: 0.5;
    position: absolute;
    width: 100vw;
    // width: 10;
    // background-color: whitesmoke;
    height: 100%;
    margin: 0 calc(50% - 50vw);
    // z-index: -100;
  }
  .show_top_contens_grid{
    // opacity: 0.1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* margin: 20px; */
    padding: 20px;
    grid-gap: 20px;
  }
}

.selectLabel{
  margin-bottom: 20px!important;
}
.helpertexts{
  color: #ff3073!important;
}

// 
.ProductShowTopbottom {
  z-index: 2;
  // background-color: white;
  /* display: flex; */
  position: relative;
  padding: 20px;
  .ProductShowTopbottomTitle{
    font-weight: bold;
    margin-bottom: 10px;
    z-index: 1;
  }
  ul{
    display: flex;
    flex-flow: wrap;
    gap: 10px;
    li{
      padding: 5px;
      border-radius: 5px;
      // background-color: #d47fff;
      color: white;
    }
  }
}

.EditReviewModal{
  max-width: 800px;
  /* margin: 0 auto; */
  /* position: absolute; */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  padding: 20px;
  border-radius: 5px;
}

// overview
.Overview{
  padding:20px;
}
.ovevierReactQuill{
  position: relative;
  padding:20px;
  background-color: white;
  border-radius: 5px;
  .ql-editor{
    // border-bottom: 1px dotted #dadada;
    // background-image: linear-gradient(180deg, #ccc 1px, transparent 1px);
    // background-size: 100% 1.8em;
    line-height: 1.7em;
    padding: 0px 0px 1px 0px !important;
  //   background-color: #fff;

  //   background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #fff 50%, #fff 100%), /* 点線1の色 */
  //                   linear-gradient(180deg, rgb(218, 224, 250) 1px, transparent 1px); /* 点線2の色と太さ */
  // background-size: 8px 100%, /* 点線1のサイズ */
  //                 100% 1.8em;
  }
}

.other_service{

  li{
    &:hover{
      @include mq(md){
      color: #ff3073;
      }
    }
  }
}

.show_03_list_box{
  li{
    padding: 5px;
    background-color: #f6f6f9;
    border-radius: 5px;
  }
}