.Footer{
  font-size: 0.8rem;
  gap: 10px;
  // display: flex;
    // max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    color: $merupla-color-info-dark-1;
    border-top: 1px solid #00000012;
    display: flex;
    align-items: end;
    justify-content: end;
    // margin-top: 20px;
    // border-top: 1px solid gainsboro;
    flex-flow: column;
    @include mq(tb){
      flex-flow: nowrap;
    }

    .FooterSns{

      svg{
        width: 30px;
        height: 30px;
      }
    }
    .FooterContents {
      display: flex;
      gap: 10px;
    }
}

.box26 {
  position: relative;
  // margin: 2em 0;
  padding: 0.5em 1em;
  // border: solid 3px #95ccff;
  border: solid 3px $merupla-color-info-dark-1;
  border-radius: 8px;
}
.box26 .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: -80px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #f6f6f9;
  // color: #95ccff;
  color: solid 3px $merupla-color-info-dark-1;
  font-weight: bold;
  @include mq(tb){
    left: 10px;
  }
}
.box26 p {
  margin: 0; 
  padding: 0;
}