.ArticlesContainer{
  margin: 20px 0px 20px 0px;
  // background-color: white;
  border-radius: 5px;
  @include mq(tb){
    margin: 0px 20px 20px 20px;
    }
  .ArticlesContainerTitle{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px 20px 0px 20px;
    @include mq(tb){
      margin: 0px 0px 0px 0px;
    }
    // padding: 10px 10px 0px 10px;
  }
  // .ArticlesContainerNavigate{
  //   border-bottom: 1px solid;
  //   padding: 10px;
  //   display: flex;
  //   .ArticlesContainerNavigateUl{
  //     display: flex;
  //     gap: 10px;
  //     li{
  //       cursor: pointer;
  //       padding: 5px 10px 5px 10px;
  //       border-radius: 5px;
  //       background-color: white;
  //       color: #132f4c;
  //       box-shadow: $color-v1-shadow-a;
  //     }
  //   }
  //   .ArticlesContainerSort{
  //     // gap: 10px;
  //   }
  // }
 
  // .ArticlesContainerMain{
  //   display: grid;
  //   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  //   grid-gap: 10px;
  //   padding: 10px;
  //   .ArticleListItem{
  //     box-shadow: $color-v1-shadow-a;
  //     border-radius: 5px;
  //     border-radius: 5px;
  //     .ArticleListTitle{
  //       border-radius: 5px;
  //       padding: 5px;
  //       font-size: 1.1rem;
  //       // font-weight: bold;
  //       color: white;
  //       border:10px solid white;
  //     }
  //     .ArticleListContent{
  //       // min-height: 200px;
  //       max-height: 300px;
  //       overflow: hidden;

  //     }
  //   }
  // }
}
.ArticlesContainerNavigate{
  border-bottom: 1px solid;
  padding: 20px;
  display: flex;
  flex-flow: wrap;
  gap:10px;
  .ArticlesContainerNavigateUl{
    display: flex;
    gap: 10px;
    
    li{
      cursor: pointer;
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      background-color: white;
      color: #132f4c;
      box-shadow: $color-v1-shadow-a;
    }
  }
}
.Top100SelectList1{
  ul{
    word-break: keep-all;
    overflow-x: scroll;
    li{
      margin-bottom: 15px;
    }
  }
}
.ArticlesContainerMain{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  // grid-gap: 10px;
  padding: 20px 0px 20px 0px;
  @include mq(tb){
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .ArticleListItem{
    // box-shadow: $color-v1-shadow-a;
    // border-radius: 5px;
    // border-radius: 5px;
    background-color: white;
    @include mq(tb){
      box-shadow: $color-v1-shadow-a;
      border-radius: 5px;
    }
    .ArticleListTitle{
      border-radius: 5px;
      padding: 5px;
      font-size: 1.1rem;
      // font-weight: bold;
      color: white;
      border:10px solid white;
    }
    .ArticleListContent{
      // min-height: 200px;
      max-height: 300px;
      overflow: hidden;

    }
  }
}
.ArticleListTitleAssociate{
  margin: 5px 10px;
  ul{
  line-height: 1.2rem;
  font-size: 0.8rem;
  }
}

.ArticleListTitleAssociateTitle{
  font-size: 0.5rem;
    color: grey;
    margin-bottom: 5px;
}

.ArticlesContainerPage{
  ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    li{
      cursor: pointer;
      padding: 5px;
      // border: 1px solid;
      border-radius: 5px;
      box-shadow: $color-v1-shadow;
      background-color: white;
    }
    .activeCurrent{
      background-color: #ff3073;
      color: white;
    }
  }
}
// active
.activeArticlesWeekorMonth{
  color: white !important;
  background-color: #ff3073!important;
}
.ArticleModal{
  width: calc(100vw - 100px);
  margin: 0 auto;
  overflow-y: scroll;
  height: 100%;
}
// show

.ArticlesAssociateProducts{
  max-width: 800px;
  margin: 20px auto;
  font-size: 1.3rem;
  overflow: hidden;
  padding:5px;
}
// grid
.ArticlesAssociateProductsBox{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 20px;
  // margin: 20px;
}

// memo(image可変型)
// .ArticleProductsGrid {
//   // border-radius: 5px;
//   // display: grid;
//   // grid-template-columns: 180px auto;
//   // grid-template-rows: 280px;
//   border-radius: 5px;
//   /* display: flex; */
//   grid-template-columns: 40% 1fr;
//   grid-template-rows: 50%;
//   display: grid;
//   // gap: 10px;
//   // .ArticleProductsGridLeft{
//   //   img{
//   //     width: 100%;
//   //   height: 100%;
//   //   object-fit: cover;
//   //   }
//   position: absolute;
//   top: 0;
//   height: 100%;
//   // }
//   .ArticleProductsGridLeft {
//     position: relative;
//     height: fit-content;
//     position: relative;
//     padding-top: 125%;
//     /* width: 100%; */  
//     img{
//       position: absolute;
//       top: 0;
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//   }
//   .ArticleProductsGridRight {
//     // overflow: hidden;
//     // padding: 10px 10px 10px 10px;
//     line-height: 1.4rem;
//     background-color: white;
//     font-size: 1.0rem;
//     position: relative;
//     overflow: hidden;
//     height: 100%;
//     /* overflow: scroll; */
//   }
// }
// .ArticleProductsGridDummy{
//   padding-top: 100%;
//     position: relative;
//     /* margin-bottom: -40%; */
//     margin-bottom: -50%;
// }

// // .margin_bottom_list{
// //   margin-bottom: 10px;
// // }
// // .margin_bottom_20{
// //   margin-bottom: 20px;
// // }

// .ArticleProductsGridRightTop{
//   font-size: 1.1rem;
//   height: 75%;
//   padding: 10px 10px 10px 10px;
// }
// .ArticleProductsGridRightBottom{
//   line-height: 1.4rem;
//   height: 25%;
//   display: flex;
//   overflow: scroll;
//   white-space: nowrap;
//   /* justify-content: center; */
//   align-items: center;
//   list-style: none;
//   gap: 5px;
//   padding: 10px;
//   background-color: cadetblue;
//   li{
//     padding: 5px;
//     background-color: #132f4c;
//     border-radius: 5px;
//     color: white;
//   }
// }

// .ArticleProductsGridRightArasuzi {
//   height: calc(100% - 30px);
//   overflow: scroll;
//   font-size: 1.0rem;
//   color: #758695;
  
// }

// image固定式
.ArticleProductsGrid {
  cursor: pointer;
  
  border-radius: 5px;
  box-shadow: $color-v1-shadow-a;
  display: grid;
  grid-template-columns: 140px auto;
  grid-template-rows: 200px;
  .ArticleProductsGridLeft {
    height: 100%;
    position: relative;
    padding-top: 142.8%;
    img{
      border-radius: 5px 0 0 5px;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  .ArticleProductsGridRight {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0 5px 5px 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% auto;
    .ArticleProductsGridRightTop{
      height: 100%;
      overflow: scroll;
      width: 100%;
      padding: 10px;
      .ArticleProductsGridRightTitle{
        font-size: 1.0rem;
        font-weight: bold;
      }
      .ArticleProductsGridRightArasuzi{
        font-size: 0.8rem;
        color: #585c78;
        line-height: 1.3rem;
      }

    }
    .ArticleProductsGridRightBottom{
      height: 100%;
    display: flex;
    white-space: nowrap;
    list-style: none;
    /* margin: 10px; */
    /* overflow: hidden; */
    // gap: 10px;
    // padding: 10px;
    ul{
      height: 100%;
      white-space: nowrap;
      list-style: none;
      /* margin: 10px; */
      /* overflow: hidden; */
      gap: 10px;
      padding: 10px;
      overflow: scroll;
      /* gap: 10px; */
      display: flex;
      // flex-flow: column;
      // background-color: rgb(87, 131, 0);
      li{
        font-size: 1.0rem;
        padding: 5px;
        border-radius: 5px;
        width: fit-content;
        background-color: white;
        box-shadow: $color-v1-shadow;
      }
    }
    }
  }
}

.ArticleProductsGridRightFlex1{
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  .ArticleProductsGridRightYear{

  }
  .ArticleProductsGridRightDuration{
    display: flex;
    justify-content: center;
    svg{
      height: 100%;
    }
  }
}

.ArticleProductsGridLeftTitle {
  line-height: 1.4rem;
  position: absolute;
  bottom: 0;
  padding: 10px;
  font-size: 1.0rem;
  background-color: #2c3e5096;
  color: white;
  width: 100%;
  min-height: 20%;
  display: flex;
  align-items: center;
}
// 
.ArticlesAssociateArticlesBox{
  padding:5px;
  // display: grid;
  //   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  //   grid-gap: 10px;
  //   padding: 10px;
// .ArticlesContainerMain{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  // padding: 10px;
  .ArticleListItem{
    cursor: pointer;
    box-shadow: $color-v1-shadow-a;
    border-radius: 5px;
    background-color: white;
    border-radius: 5px;
    .ArticleListTitle{
      border-radius: 5px;
      padding: 5px;
      font-size: 1.1rem;
      // font-weight: bold;
      color: white;
      border:10px solid white;
    }
    .ArticleListContent{
      // min-height: 200px;
      max-height: 300px;
      overflow: hidden;

    }
  }
// }
}
// close
.CloseButton{
  cursor: pointer;
  position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    width: 30px;
    z-index: 101;
    height: 30px;
    // &:hover{
    //   transform: rotateZ(180deg);
    // }
  svg{
    width: 100%;
    height: 100%;
    transition: 1s;
    &:hover{
      transition: 1s;
      transform: rotateZ(
        180deg
        );
    }
  }
}